:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

.big-red {
  position: relative;
  display: inline-block;
}

.small-red {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.player-parent {
  position: relative;
  height: 30px;
  width: 100%;
}

.player-health {
  background-color: yellow;
  height: 30px;
}

.timer {
  background-color: red;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.enemy-parent {
  position: relative;
  height: 30px;
  width: 100%;
}

.enemy-health {
  background-color: yellow;
  height: 30px;
}
