:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  overflow-y: hidden;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.big-red {
  position: relative;
  display: inline-block;
}

.small-red {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

/* player health */
.player-parent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: 4px solid white;
  border-right: none;
}

.player-health-bar {
  background-color: red;
  height: 30px;
  width: 100%;
}

.player-health {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* Timer */
.timer {
  background-color: black;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  color: white;
}

/* enemy health */
.enemy-parent {
  position: relative;
  width: 100%;
  border: 4px solid white;
  border-left: none;
}

.enemy-health-bar {
  background-color: red;
  height: 30px;
}

.enemy-health {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* if theres a tie */
.tie-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
